nifi/user-templates/NL_test_flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Dutch samples, Deduce, MedCAT, OpenSearch</description>
    <groupId>a4aa9a4e-0184-1000-8068-4aeab06f8310</groupId>
    <name>NL test flow</name>
    <snippet>
        <processGroups>
            <id>d4d03836-ace6-321f-0000-000000000000</id>
            <parentGroupId>2a98583a-6fb6-357f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>02765419-5842-3d32-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>3c66df8c-7f1a-3528-9cb9-3c09a83f99e6</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>-550.51806640625</x>
                        <y>1758.0556030273438</y>
                    </bends>
                    <bends>
                        <x>-550.51806640625</x>
                        <y>1808.0556030273438</y>
                    </bends>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0245a413-4ecd-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ff5bd1a9-cd28-36df-9146-5a70fce68ecc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0245a413-4ecd-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ff5bd1a9-cd28-36df-9146-5a70fce68ecc</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>0ca8df31-c750-385b-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>f09d0cb6-2ca3-33da-8705-e5be5ba961aa</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>5e044c67-0c76-3fa0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>78c47b60-91f8-3c32-a6ed-8fc249100623</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>10afe460-589e-3190-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>2b8d988d-a099-3faf-82d3-1bb44472084d</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>bb9e9e8c-9b0f-3942-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b7599c14-e594-3a72-a576-ede329309423</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>2a453ebf-c445-324a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ba209483-8036-3e7d-abef-1c53b0c886c2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>31958157-9545-3526-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>343a128d-bb85-3b93-ab74-d18fa6edba02</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>c89cc953-d7bb-357a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9688c8e1-64b3-3639-be4c-a12ccc04c9f7</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>9bef89ae-9d49-34ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd6d8219-6c15-3825-b12f-70d980c9d5c8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4300fdcc-19fc-3114-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>5cb913fd-da33-33db-bf93-a71d133d1fec</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>13183c74-1d03-33d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a6b3ac79-afe2-3787-942d-89f7382f2fe0</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48046844-96fb-319f-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>1b1d44b9-528e-3325-b233-33450965e65b</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>9bef89ae-9d49-34ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd6d8219-6c15-3825-b12f-70d980c9d5c8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>139614a5-9d36-3cc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e88d616c-93f3-359e-bbf7-f626a1d38658</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5f88bb25-c392-321c-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>8483932b-1e38-3fd2-b8ce-2eac1838831f</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0245a413-4ecd-3e53-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ff5bd1a9-cd28-36df-9146-5a70fce68ecc</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>c89cc953-d7bb-357a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9688c8e1-64b3-3639-be4c-a12ccc04c9f7</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>61a91fb4-bf12-3c10-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>9ca30443-a69e-3162-89b2-028d4b801493</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>9bef89ae-9d49-34ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd6d8219-6c15-3825-b12f-70d980c9d5c8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>cb9d981c-dc12-383e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6735700a-dfd3-3ede-9c93-472f59cd593e</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>67a08460-f753-3a40-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>009b78a7-b5e5-308d-8b82-5866591b0bbd</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>9bef89ae-9d49-34ed-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>dd6d8219-6c15-3825-b12f-70d980c9d5c8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>5e044c67-0c76-3fa0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>78c47b60-91f8-3c32-a6ed-8fc249100623</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6f4b4b2e-40fd-36d1-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>14812af2-a713-3f6b-be69-2f31e3820cb0</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>83e64d43-1a8b-374e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06a22c1f-b8e2-3dba-a49b-ab6bc8ec9ff4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>13183c74-1d03-33d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a6b3ac79-afe2-3787-942d-89f7382f2fe0</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8f71b4cb-667f-30cd-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>d00bb4fd-4d15-3faf-b8dd-c78dfad52aa4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>cb9d981c-dc12-383e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6735700a-dfd3-3ede-9c93-472f59cd593e</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>83e64d43-1a8b-374e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06a22c1f-b8e2-3dba-a49b-ab6bc8ec9ff4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a15ad892-f4f9-31a5-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>dd44b28e-64f6-32fe-940c-85be7a459e17</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>14.643325805664062</x>
                        <y>817.761474609375</y>
                    </bends>
                    <bends>
                        <x>14.643325805664062</x>
                        <y>867.761474609375</y>
                    </bends>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c8cf9366-c93b-3ac7-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>3cbfe194-0004-3f57-a8ab-8df928358758</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>bb9e9e8c-9b0f-3942-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>b7599c14-e594-3a72-a576-ede329309423</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e5bd0c5d-87ed-303f-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>81b5df95-63b0-36e5-a881-60010e95b721</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>626.0794982910156</x>
                        <y>811.2265625</y>
                    </bends>
                    <bends>
                        <x>626.0794982910156</x>
                        <y>861.2265625</y>
                    </bends>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>83e64d43-1a8b-374e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06a22c1f-b8e2-3dba-a49b-ab6bc8ec9ff4</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>83e64d43-1a8b-374e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>06a22c1f-b8e2-3dba-a49b-ab6bc8ec9ff4</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ea628155-5942-3e19-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <versionedComponentId>97327bfc-04e4-3d67-86d2-c6237202ef72</versionedComponentId>
                    <backPressureDataSizeThreshold>100 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>139614a5-9d36-3cc2-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e88d616c-93f3-359e-bbf7-f626a1d38658</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d4d03836-ace6-321f-0000-000000000000</groupId>
                        <id>2a453ebf-c445-324a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>ba209483-8036-3e7d-abef-1c53b0c886c2</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>0e89410d-4980-3f62-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
<name>kerberos-user-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:postgresql://postgres-dutch-samples:5432/dutch_samples</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.postgresql.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/nifi/drivers/postgresql-42.3.3.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-user-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>cogstack</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>4b5163a0-0541-3a9c-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <labels>
                    <id>5cc0f345-f353-3342-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1080.0</x>
                        <y>168.0</y>
                    </position>
                    <versionedComponentId>435342da-4844-3faf-948e-616ea142b783</versionedComponentId>
                    <height>240.0</height>
                    <label>Extraction</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>464.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>832d20f5-04af-3495-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>112.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>ad3184e4-096d-38ce-9e54-3d46e7ed4522</versionedComponentId>
                    <height>720.0</height>
                    <label>Entity recognition and linking</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>424.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>949060be-3c42-316c-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1064.0</x>
                        <y>1200.0</y>
                    </position>
                    <versionedComponentId>8d4e1c1e-357a-3fe0-b470-d9ffebb7f5f0</versionedComponentId>
                    <height>664.0</height>
                    <label>Load in OpenSearch</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>464.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>9a7b1779-7124-3d09-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1080.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>42983061-21fa-3886-8a2d-2c19bd7922e5</versionedComponentId>
                    <height>240.0</height>
                    <label>Select structured data</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>464.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <labels>
                    <id>bf28750f-5a8a-37eb-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-488.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>da12f98e-ee5b-324f-8dfd-68cd00689c94</versionedComponentId>
                    <height>720.0</height>
                    <label>Pseudonimization</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>424.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>0245a413-4ecd-3e53-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1024.0</x>
                        <y>1712.0</y>
                    </position>
                    <versionedComponentId>ff5bd1a9-cd28-36df-9146-5a70fce68ecc</versionedComponentId>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://opensearch-node1:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>admin</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>id</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>dutch-samples</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>upsert</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
                <processors>
                    <id>0d5f7c4a-db3f-3a54-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-456.0</x>
                        <y>776.0</y>
                    </position>
                    <versionedComponentId>ac365756-22b9-394c-aa1d-6ae110edcaca</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://deduce:5000/deidentify_bulk</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>600 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>False</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryNlpService-Deduce-Bulk</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>13183c74-1d03-33d7-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>536.0</y>
                    </position>
                    <versionedComponentId>a6b3ac79-afe2-3787-942d-89f7382f2fe0</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "shift",
  "spec": {
    "texts": {
      "*": {
        "id": "content.[&amp;1].footer.docid",
        "text": "content.[&amp;1].text"
      }
    }
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>139614a5-9d36-3cc2-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1024.0</x>
                        <y>536.0</y>
                    </position>
                    <versionedComponentId>e88d616c-93f3-359e-bbf7-f626a1d38658</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "shift",
  "spec": {
    "*": {
      "id": "[&amp;1].id",
      "patient_id": "[&amp;1].patient_id",
      "authored": "[&amp;1].authored",
      "type": "[&amp;1].type"
    }
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>2a453ebf-c445-324a-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1024.0</x>
                        <y>232.0</y>
                    </position>
                    <versionedComponentId>ba209483-8036-3e7d-abef-1c53b0c886c2</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>esqlrecord-record-writer</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>
    <name>esqlrecord-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>0e89410d-4980-3f62-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>SELECT * FROM dutch_samples.documents</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>4b5163a0-0541-3a9c-0000-000000000000</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>100</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 hour</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQLRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffffff</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                </processors>
                <processors>
                    <id>5e044c67-0c76-3fa0-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-456.0</x>
                        <y>1024.0</y>
                    </position>
                    <versionedComponentId>78c47b60-91f8-3c32-a6ed-8fc249100623</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "shift",
  "spec": {
    "texts": {
      "*": {
        "id": "[&amp;1].id",
        "text": "[&amp;1].deidentified_text"
      }
    }
  }
}]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>83e64d43-1a8b-374e-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>776.0</y>
                    </position>
                    <versionedComponentId>06a22c1f-b8e2-3dba-a49b-ab6bc8ec9ff4</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://medcat:5000/api/process_bulk</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>600 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>False</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>QueryNlpService-MedCAT-Bulk</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>9bef89ae-9d49-34ed-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1024.0</x>
                        <y>1256.0</y>
                    </position>
                    <versionedComponentId>dd6d8219-6c15-3825-b12f-70d980c9d5c8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>bb9e9e8c-9b0f-3942-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-456.0</x>
                        <y>536.0</y>
                    </position>
                    <versionedComponentId>b7599c14-e594-3a72-a576-ede329309423</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "shift",
  "spec": {
    "*": {
      "id": "texts.[&amp;1].id",
      "text": "texts.[&amp;1].text"
    }
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>c89cc953-d7bb-357a-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-1024.0</x>
                        <y>1480.0</y>
                    </position>
                    <versionedComponentId>9688c8e1-64b3-3639-be4c-a12ccc04c9f7</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>the string 'null'</value>
                            </entry>
                            <entry>
<key>id</key>
<value>id</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>cb9d981c-dc12-383e-0000-000000000000</id>
                    <parentGroupId>d4d03836-ace6-321f-0000-000000000000</parentGroupId>
                    <position>
                        <x>152.0</x>
                        <y>1024.0</y>
                    </position>
                    <versionedComponentId>6735700a-dfd3-3ede-9c93-472f59cd593e</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <dependencies>
        <dependentValues>jolt-transform-custom</dependentValues>
        <propertyName>jolt-spec</propertyName>
    </dependencies>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "shift",
  "spec": {
    "result": {
      "*": {
        "footer": {
          "docid": "[&amp;2].id"
        },
        "annotations": "[&amp;1].nlp"
      }
    }
  }
}]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>0</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>NL test flow (Dutch samples, Deduce, MedCAT, OpenSearch)</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/23/2022 14:14:26 UTC</timestamp>
</template>
